<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shelter.dir" versionCode="2.0" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://grassroots.org">
    <name>Shelter Directory</name>
    <description>
        Database of Homeless Shelters
    </description>
    <author email="val@grassroots.org" href="http://grassroots.org">
        Grassroots.org
    </author>
    <icon src="www/images/logo.png"/>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
    <content src="index.html" />
    <access origin="*" />
</widget>